div {
	border : 1px solid white;
}

body {
	background-color: darkGray;
	padding : 0;
}

#edit-area, #display {
	margin : 10px;

	position : absolute;
	bottom : 90px;
	left : 0;
	right : 0;
	top : 0;
}

#toolbar-wrapper {
	margin : 10px;

	position : absolute;
	bottom : 0;
	left : 0;
	right : 0;
	height : 80px;
}

#toolbar, #toolbar-right {
	border : 0;
	position : absolute;
	margin : 10px;

	top : 0;
	bottom : 0;

	vertical-align : middle;
}

#toolbar {
	left : 0;
	right : 0;
}

#toolbar-right {
	right : 0;
}

.toolbar-button {
	height : 60px;
	line-height : 60px;
	padding : 0 15px;
	margin-right : 10px;
	display: inline-block;
	vertical-align: middle;

	cursor : default;
}

#play-btn {
	margin-right : 0;
}

.toolbar-button:hover {
	background-color : white;
}

.widget {
	position : absolute;
}
